@charset "utf-8";

.clear{ overflow:hidden; _height:1px; _overflow:visible; }

.clean{ font-size:0px; line-height:0px; clear:both;}

.none{ display:none;}

:focus { outline: 0;}

a{ blr:expression(this.onFocus=this.blur());text-decoration:none;}

*{ margin:0; padding:0; -webkit-text-size-adjust:none;}

a{ text-decoration:none; outline:none; cursor:pointer;}

a:hover,img{ border:none;}

html{ overflow-x:hidden; background-color:#fff;}

::selection{color:#fff; background:#0358b0;}

::-moz-selection{color:#fff; background:#0358b0;}

::-webkit-selection{color:#fff; background:#0358b0;}

body,button,input,select,textarea{ font:12px Verdana, Geneva, sans-serif;}

textarea{ resize:none}

h1,h2,h3,h4,h5,h6{ font-weight:normal;}

i{ font-style:normal;}

p{ text-align:justify; text-justify:inter-ideograph; margin:0px; }

ul,ol,dl{ list-style-type:none; margin:0px; }

.fl,.fr,.lifl li,.lifl dd{ float:left; display:inline; list-style:none;}

.fr{ float:right;}

.fmyh,h2.t,ul.mf input.t,ul.mf li,input,textarea{ font-family:MicrosoftYaHei,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }

.ttuc{ text-transform:uppercase;}

.scroll,.scroll2{ position:relative; overflow:hidden;}

.scroll ul{ position:absolute; width:20000em; }

.scroll2 ul{ position:absolute; height:200em; }

.scroll ul li{ float:left; }

.mod{ position:relative; z-index:999; }

.wrap{ width:1200px; margin:0 auto; font-family:MicrosoftYaHei,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }

.topbar{ height:80px; }

.logo a{ background:url(../bg/logo.gif) no-repeat; width:99px; height:63px; display:block; position:absolute; top:8px; left:5px; }

.menu{ position:absolute; top:30px; left:180px; }

.menu li{ width:115px; position:relative; }

.menu li .name{ width:115px; text-align:center; height:50px; }

.menu li .name a{ color:#767676; font-size:16px; display:block; }

.menu li.on .name a{ color:#da251c; }

.menu li dl{ position:absolute; top:50px; left:0px; background:url(../bg/mbg.png) repeat; width:115px; padding:15px 0; display:none; }

.menu li.on dl{ display:block; }

.menu li dl dd{ width:115px; }

.menu li dl dd a{ display:block; text-align:center; font-size:14px; color:#fff; line-height:32px; }

.menu li a:hover{ color:#da251c; }

.menu li .name a.hover{ color:#F00; font-weight:bold; }

.vip a{ background:url(../bg/bg1.gif) no-repeat #da251c center 18px; width:120px; height:38px; display:block; position:absolute; top:0px; right:0px; text-align:center; color:#fff; font-size:16px; padding-top:50px; }

.fdm{ height:700px; position:relative; overflow:hidden; }

.banner,.banner a{ height:700px; display:block; overflow:hidden; }

.pan{ position:absolute; top:650px; left:0px; background:url(../bg/bg1.png) repeat; height:23px; overflow:hidden; padding:10px 10px 0 10px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
    border-radius: 15px; }

.pan li{ width:16px; height:16px; background:url(../bg/dd.png) no-repeat right top; cursor:pointer; margin: 0 12px; }

.pan li.hover{ background-position:left top; }

.phone{ background:url(../bg/phone.gif) no-repeat; width:280px; height:100px; overflow:hidden; position:absolute; top:-120px; right:0px; }

.about{ margin-top:70px; }

.about .title{ color:#424242; font-size:30px; line-height: 41px; text-align:center; background:url(../bg/cxj1.gif) no-repeat center 8px; }

.about .title i{ font-size:14px; background:url(../bg/bg2.gif) no-repeat center top; display:block; padding-top:10px; color:#878787; margin-top:10px; }

.about .cont{ margin-top:65px; position:relative; padding: 0 50px 0 465px; height:280px; line-height:28px; font-size:14px; color:#878787; }

.about .cont .tu{ background:url(../bg/bg3.gif) no-repeat left bottom; padding:0 0 15px 15px; position:absolute; top:0px; left:0px; }

.about .cont h3{ font-size:18px; color:#565656; font-weight:bold; }

.about .cont .nr{ margin-top:15px; }

.about .cont .ablist{ margin-top:60px; }

.about .cont .ablist li{ margin: 0 57px; font-size:14px; }

.about .cont .ablist li.abl1 a{ background:url(../bg/abg1.gif) no-repeat center top; padding-top:40px; display:block; color:#878787; }
.about .cont .ablist li.abl1 a:hover{ background:url(../bg/abgh1.gif) no-repeat center top; color:#e62129; }
.about .cont .ablist li.abl2 a{ background:url(../bg/abg2.gif) no-repeat center top; padding-top:40px; display:block; color:#878787; }
.about .cont .ablist li.abl2 a:hover{ background:url(../bg/abgh2.gif) no-repeat center top; color:#e62129; }
.about .cont .ablist li.abl3 a{ background:url(../bg/abg3.gif) no-repeat center top; padding-top:40px; display:block; color:#878787; }
.about .cont .ablist li.abl3 a:hover{ background:url(../bg/abgh3.gif) no-repeat center top; color:#e62129; }
.about .cont .ablist li.abl4 a{ background:url(../bg/abg4.gif) no-repeat center top; padding-top:40px; display:block; color:#878787; }
.about .cont .ablist li.abl4 a:hover{ background:url(../bg/abgh4.gif) no-repeat center top; color:#e62129; }

.case{ margin-top:60px; }

.case .title{ color:#424242; font-size:30px; text-align:center; line-height: 41px;  }

.case .title i{ font-size:14px; background:url(../bg/bg2.gif) no-repeat center top; display:block; padding-top:10px; color:#878787; margin-top:10px; }

.case ul{ position:relative; height:415px; margin-top:75px; }

.case li img{ width:100%; height:100%; }

.case li a{ color:#fff; font-size:16px; font-weight:bold; display:block; }

.case li a .canr{ position:absolute; top:0px; left:0px; width:269px; height:186px; background:url(../bg/bg4.png) repeat; display:none;  }

.case li a:hover .canr{ display:block; }

.case li a .canr .name{ text-align:center; margin-top:65px; padding:0 30px; height:25px; line-height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.case li a .canr .nr{ font-size:12px; border:1px solid #fff; width:78px; height:26px; margin:30px auto 0 auto; font-size:12px; font-weight:normal; text-align:center; line-height:26px; }

.case li.c1{ width:269px; height:186px; overflow:hidden; position:absolute; top:0px; left:0px; }

.case li.c2{ width:269px; height:186px; overflow:hidden; position:absolute; top:227px; left:0px; }

.case li.c3{ width:596px; height:413px; overflow:hidden; position:absolute; top:0px; left:300px; }

.case li.c3 a .canr{ width:596px; height:413px; }

.case li.c3 a .canr .name{ text-align:center; margin-top:165px; font-size:20px; }

.case li.c4{ width:269px; height:186px; overflow:hidden; position:absolute; top:0px; right:0px; }

.case li.c5{ width:269px; height:186px; overflow:hidden; position:absolute; top:227px; right:0px; }

.news{ margin-top:80px; }

.news .title{ color:#424242; font-size:30px; text-align:center; line-height: 41px; background:url(../bg/cxj5.gif) no-repeat center 10px; }

.news .title i{ font-size:14px; background:url(../bg/bg2.gif) no-repeat center top; display:block; padding-top:10px; color:#878787; margin-top:10px; }

.news .cont{ margin-top:65px; }

.news .cont .nwlbg{ width:480px; margin-left:30px; }

.news .cont .nwlbg a{ display:block; }

.news .cont .nwlbg .tu{ width:480px; height:257px; overflow:hidden; }

.news .cont .nwlbg .tu img{ width: 100%; height: 100%; }

.news .cont .nwlbg .name{ font-size:16px; color:#535353; font-weight:bold; margin-top:15px; }

.news .cont .nwlbg .name i{ color:#535353; font-size:14px; }

.news .cont .nwlbg .nr{ font-size:14px; color:#878787; line-height:22px; margin-top:10px; }

.news .cont .nwrbg{ width:615px; margin-right:30px; margin-top:-20px; }

.news .cont .nwrbg li{ width:615px; margin-top:25px; }

.news .cont .nwrbg li a{ height:100px; display:block; position:relative; }

.news .cont .nwrbg li a .time{ position:absolute; top:0px; left:0px; width:100px; height:85px; display:block; background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; color:#cacaca; font-size:48px; line-height:48px; text-align:center; padding-top:15px; }

.news .cont .nwrbg li a .time i{ display:block; font-size:14px; line-height:20px; }

.news .cont .nwrbg li a:hover .time{ color:#fff; background:#da251c; }

.news .cont .nwrbg li a .name{ margin-left:123px; font-size:16px; color:#535353; font-weight:bold; padding-top:10px; }

.news .cont .nwrbg li a .nr{ margin-left:123px; line-height:22px; color:#878787; font-size:14px; padding-top:10px; }

.news .more a{ width:98px; height:26px; border:1px solid #dd0000; text-align:center; line-height:26px; color:#dd0000; display:block; margin:60px auto 0 auto; }

.wq1{ background:url(../bg/bg6.gif) no-repeat; width:61px; height:122px; position:absolute; top:1315px; right:0px; }

.wq2{ background:url(../bg/bg7.gif) no-repeat; width:145px; height:290px; position:absolute; top:1962px; left:0px; }

.fdm1{ background:url(../bg/fbg.gif) repeat; height:268px; margin-top:60px; }

.fdm1 .wrap{ position:relative; }

.fc1{ position:absolute; bottom:0px; right:0px; background:url(../bg/bg8.png) no-repeat; width:360px; height:406px; overflow:hidden; }

.fewm{ background:url(../bg/ewm.png) no-repeat; width:124px; height:151px; overflow:hidden; margin:62px 65px 0 0; }

.fnav{ margin-top:55px; width:188px; margin-left:25px; }

.fnav dt{ background:url(../bg/bg5.gif) no-repeat left bottom; height:30px; overflow:hidden; font-size:16px; color:#fff; margin-bottom:15px; }

.fnav dd{ margin-right:30px; line-height:30px; }

.fnav dd a{ font-size:14px; color:#979797; width:60px; }

.fnav dd a:hover{ color:#fff; }

.contatc{ margin-top:55px; margin-left:135px; }

.contatc dt{ background:url(../bg/bg5.gif) no-repeat left bottom; height:30px; overflow:hidden; font-size:16px; color:#fff; margin-bottom:15px; }

.contatc dd{ line-height:30px; color:#979797; font-size:14px; }

.fphone{ margin-left:130px; margin-top:55px; }

.fphone .bt{ font-size:14px; color:#979797; }

.fphone .title{ font-size:30px; color:#979797; height:42px; border-bottom:1px solid #979797; margin-top:10px; }

.fphone .fx{ font-size:14px; color:#979797; margin-top:20px; }

.fphone .fxlist{ margin-top:12px; }

.fphone .fxlist li{ width:34px; height:34px; margin-right:14px; }

.fphone .fxlist li.f1 a{ background:url(../bg/fxbg1.png) no-repeat; display:block; width:34px; height:34px; }

.fphone .fxlist li.f2 a{ background:url(../bg/fxbg2.png) no-repeat; display:block; width:34px; height:34px; }

.copyright{ height:50px; line-height:50px; color:#979797; text-align:center; overflow:hidden; background:#fff; font-size:14px; }

.nfdm{ height:400px; position:relative; }

.nbanner{ position:absolute; top:0px; left:0px; width:100%; }

.nbanner,.nbanner a{ height:400px; display:block; overflow:hidden; }

.side{ width:250px; margin-top:70px; }

.pro_case .title{ background:#e62129; font-size:20px; height:70px; line-height:70px; text-align:center; color:#fff; }

.pro_case li{ line-height:50px; width:250px; margin-bottom:1px; }

.pro_case li a{ font-size:14px; color:#363636; display:block; background:#f9f9f9; text-align:center; }

.pro_case li a:hover{ background:#dedede; color:#e62129; }

.pro_case li.on a{ background:#dedede; color:#e62129; }

.main{ width:872px; margin-right:28px; margin-top:70px; height:auto!important; min-height:400px; height:400px; padding-bottom:30px; }

.main table{ border-collapse:collapse; border: 1px solid #aaa;}

.main table td{ border: 1px solid #aaa; text-align:center; }

.ny_case .title{ height:69px; overflow:hidden; background:url(../bg/nbg1.gif) no-repeat left bottom; margin-top:10px; font-size:24px; color:#878787; border-bottom:1px solid #f1f1f1; }

.ny_case .title i{ display:block; font-size:12px; }

.caselist{ padding-left:17px; }

.caselist li{ width:269px; height:186px; overflow:hidden; margin:30px 8px 0 8px; }

.caselist li a{ width:269px; height:186px; display:block; position:relative; }

.caselist li a img{ width: 100%; height: 100%; }

.caselist li a .name{ width:269px; height:40px; overflow:hidden; position:absolute; bottom:0px; left:0px; background:url(../bg/bg4.png) repeat; font-size:16px; color:#fff; font-weight:bold; text-align:center; line-height:40px; display:none; }

.caselist li a:hover .name{ display:block; }

/*页码放置 begin*/
.page { width:100%; text-align: center; margin-top:60px; }

.page a{ width:29px; line-height:29px; text-align:center; height:29px; display:inline-block; *display:inline; *zoom:1; text-align:center; color:#535353; border:1px solid #bdbdbd; margin-left:-1px; }

.page .cur { background:#878585; color:#fff;}

.page .all{ padding-left:5px; color:#535353 }
/*页码放置 end*/

.nphone{ background:url(../bg/phone.gif) no-repeat; width:280px; height:100px; overflow:hidden; position:absolute; top:350px; right:0px; z-index:999; }

.nycontact{ background:url(../bg/bg9.gif) no-repeat 70px top; height:232px; overflow:hidden; font-size:14px; color:#555555; padding-left:435px; margin-top:75px; }

.nycontact h3{ color:#e62129; font-size:18px; font-weight:bold; margin-top:25px; }

.map{ margin-left:30px; margin-top:40px; }

.ny_dan{ padding:30px; line-height:30px; color:#555555; font-size:14px; }

.ny_dan h3{ color:#e62129; font-size:16px; font-weight:bold; }

.ny_dan strong{ color:#555555; font-size:16px; display:block; margin-top:25px; }

.ny_honor{ padding-top:40px; }

.ny_honor .lmtitle{ line-height:20px; color:#e62129; font-size:16px; font-weight:bold; text-align:center; }

.ny_honor .lmtitle p{ text-align: center; }

.honortop{ width:463px; height:283px; margin: 0 auto; }

.honortop li{ width:463px; height:283px; }

.honorbot{ width:553px; margin:23px auto 0 auto; height:89px; }

.honorbot .prev{ background:url(../bg/anniu.gif) no-repeat left top; width:14px; height:27px; overflow:hidden; margin-top:30px; cursor:pointer; }

.honorbot .next{ background:url(../bg/anniu.gif) no-repeat right top; width:14px; height:27px; overflow:hidden; margin-top:30px; cursor:pointer; }

.honorbot .hontu{ width:463px; height:89px; margin-left:30px; }

.honorbot .hontu li{ width:146px; height:89px; margin-right:12px; cursor:pointer; }

.honorbot .hontu li img{ width: 100%; height: 100%; }

.xxzlist{ width:812px; padding:30px 30px 0 30px; }

.xxzlist li{ width:812px; margin-top:30px; border-bottom:1px dashed #e2e2e2; }

.xxzlist li a{ height:100px; display:block; position:relative; }

.xxzlist li a .time{ position:absolute; top:0px; left:0px; width:75px; height:65px; display:block; background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; color:#cacaca; font-size:36px; line-height:36px; text-align:center; padding-top:10px; }

.xxzlist li a .time i{ display:block; font-size:14px; line-height:20px; }

.xxzlist li a:hover .time{ color:#fff; background:#da251c; }

.xxzlist li a .name{ margin-left:105px; font-size:16px; color:#535353; font-weight:bold; padding-top:5px; }

.xxzlist li a:hover .name{ color: #da251c; }

.xxzlist li a .nr{ margin-left:105px; line-height:22px; color:#878787; font-size:14px; padding-top:8px; }

.xxzdetail{ padding:30px; font-size:14px; color:#555555; line-height:30px; }

.xxzdetail .xxzbt{ font-size:16px; text-align:center; font-weight:bold; color:#555555; }

.xxzdetail .xxzbt i{ display:block; font-size:12px; color:#cacaca; font-weight:normal; }

.xxzdetail .xxzcont{ padding-top:20px; }

.msglist{ padding:50px 120px 30px 120px; width:632px; }

.msglist li{ width:632px; margin-top:30px; line-height:40px; }

.msglist li .name{ width:65px; color:#555555; font-size:14px; }

.msglist li .nr{ width:567px; height:40px; }

.msglist li .nr input{ width:545px; height:38px; border:1px solid #e6e6e6; padding: 0 10px; }

.msglist li:hover .nr input{border:1px solid #e62129; }

.msglist li .nr1{ height:200px; width:567px; }

.msglist li .nr1 textarea{ border:1px solid #e6e6e6; font-size:14px; color:#555555; height:178px; width:545px; padding:10px; }

.msglist li:hover .nr1 textarea{ border:1px solid #e62129; }

.msglist li.msg{ padding-left:228px; width:632px; margin-top:35px; }

.msglist li.msg .anniulbg{ width:100px; height:40px; margin-right:40px; }

.msglist li.msg .anniulbg input{ width:100px; height:40px; background:#303030; border:none; font-size:14px; color:#fff; cursor:pointer; }

.msglist li.msg .anniulbg:hover input{ background:#e62129; }

.vipkuai{ background:url(../bg/vipbg.jpg) no-repeat center top; height:759px; overflow:hidden; width:100%; margin-bottom:-60px; }

.vipnrlist{ width:360px; margin:135px auto 0 auto; }

.vipnrlist .title{ font-size:24px; color:#e62129; text-align:center; font-weight:bold; text-align:center; }

.vipnrlist li{ width:390px; margin-top:13px; }

.vipnrlist li .name{ height:40px; line-height:40px; font-size:14px; color:#696969; width:70px; padding-left: 10px; }

.vipnrlist li .nr{ width:270px; height:40px; }

.vipnrlist li .nr input{ width:248px; height:38px; border:1px solid #e62129; background:#fff; padding:0 10px; }

.vipnrlist li:hover .nr input{ border:1px solid #e62129; font-size:14px; color:#696969; }

.vipnrlist li .vipaniu{ width:100px; height:40px; margin-left:21px; }

.vipnrlist li .vipaniu1{ margin-left:80px; }

.vipnrlist li .vipaniu input{ width:100px; height:40px; background:#303030; border:none; font-size:14px; color:#fff; cursor:pointer; }

.vipnrlist li .vipaniu:hover input{ background:#e62129; }

.vipnrlist .vipcont{ line-height:24px; color:#878787; font-size:12px; margin-top:100px; }

.vipnrlist .vipcont a{ background:#8f8f8f; color:#fff; padding:3px; margin-left:5px; }

.hydhbanner{ height:250px; overflow:hidden; }

.vipside{ width:250px; position:relative;  }

.vipdhtitle{ background:#2d2d2d; height:100px; font-size:30px; color:#ffffff; padding:35px 0 0 30px; position:absolute; top:-75px; left:0px; width:220px; z-index:9; }

.vipdhtitle i{ display:block; font-size:12px; color:#696969; font-family:Arial, Helvetica, sans-serif; }

.vipmain{ width:900px; }

.protop{ margin-top:90px; }

.series{ margin-top:20px; }

.series .title{ height:55px; background:url(../bg/bg10.gif) no-repeat 63px 20px #e62129; font-size:20px; color:#fff; padding:15px 0 0 100px; }

.series .title i{ display:block; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:12px; }

.series li{ line-height:50px; width:250px; margin-bottom:1px; background:#f9f9f9;  }

.series li a{ font-size:14px; color:#363636; display:block; display:block; text-align:center; }

.series li a:hover{ background:#dedede; color:#fff; }

.series li.on a{ background:#dedede; color:#fff; }

.search{ margin-top:30px; width:250px; height:50px; }

.search .name{ width:200px; height:50px; }

.search .name input{ width:158px; height:48px; border:1px solid #dedede; font-size:14px; color:#878787; padding:0 20px; }

.search .nr{ width:50px; }

.search .nr input{ background:url(../bg/bg11.gif) no-repeat; width:50px; height:50px; border:none; cursor:pointer; }

.ny_title{ margin-top:40px; color:#878787; font-size:12px; border-bottom:1px solid #f1f1f1; padding-bottom:5px;  }

.ny_title span{ color:#ff0000; }

.protopbg{ height:415px; overflow:hidden; margin:60px 30px 0 30px; }

.prolkuai{ width:357px; }

.prolkuai .protcont{ width:357px; height:285px; overflow:hidden; }

.prolkuai .probcont{ width:370px; height:84px; overflow:hidden; margin-top: 15px;  margin-left: -10px; }

.prolkuai .probcont li{ width:105px; height:84px; margin:0 10px; cursor:pointer; }

.prolkuai .probcont li img{ width: 100%; height: 100%; overflow: hidden; }

.prorkuai{ width:240px; margin-left:58px; }

.prorkuai .bt{ font-size:18px; color:#3e3e3e; font-weight:bold; border-bottom:1px solid #f1f1f1; padding-bottom:10px; }

.prorkuai ul{ margin-top:5px; }

.prorkuai li{ width:240px; margin-top:5px; height:30px; line-height:30px; }

.prorkuai li .name{ font-size:14px; color:#878787; }

.prorkuai li .nr{ width:80px; height:30px; margin-right:5px; }

.prorkuai li .nr input{ width:78px; height:28px; border:1px solid #ececec; font-size:14px; color:#878787; }

.prorkuai li .time{ font-size:14px; color:#878787; }

.prorkuai li.gwc{ height:40px; overflow:hidden; margin-top:40px; }

.prorkuai li.gwc input{ background:url(../bg/bg12.gif) no-repeat; width:140px; height:40px; border:none; cursor:pointer; }

.prodetail{ border:1px solid #ececec; margin:15px 30px 0 30px; padding:15px 20px 20px 20px; }

.prodetail .title{ font-size:14px; color:#878787; }

.prodetail .pdlist{ margin-top:35px; }

.prodetail .pdlist li{ font-size:14px; color:#878787; margin-right:40px; }

.prodetail .cont{ line-height:24px; color:#878787; font-size:14px; margin-top:30px; }

.gwckuai{ padding: 0 30px; }

.gwclist{ border-collapse:collapse; width:100%; margin-top:30px; }

.gwclist th{ color:#878787; font-size:14px; text-align:center; line-height:50px; background:#f9f9f9; border:1px solid #f1f1f1; }

.gwclist td{ font-size:14px; text-align:center; color:#878787; line-height:50px; border:1px solid #f1f1f1; }

.gwclist td .xx{ background:url(../bg/bg13.gif) no-repeat; width:15px; height:15px; overflow:hidden; cursor:pointer; margin:0 auto; }

.gwclist td input{ width:50px; height:30px; border:1px solid #f1f1f1; text-align:center; }

.gwclist td:hover input{ border:1px solid #e62129; }

.gwcnr{ text-align:center; font-size:14px; color:#878787; padding:10px; border:1px solid #f1f1f1; border-top:none; }

.gwcgmlist{ padding:10px 0 10px 180px; border:1px solid #f1f1f1; border-top:none; }

.gwcgmlist li{ margin-right:15px; }

.gwcgmlist li a{ width:110px; height:30px; display:block; background:#dedede; font-size:14px; line-height:30px; color:#323232; text-align:center; }

.gwcgmlist li a:hover{ background:#e62129; color:#fff; }

.gwcdg{ font-size:14px; color:#878787; line-height:30px; padding:30px; border:1px solid #f1f1f1; border-top:none; }

.gwcdg i{ padding:0 5px; }

.vipzcnr{ margin-top:55px; border:1px solid #f1f1f1; border-left:none; }

.vipzcnr1{ border:1px solid #f1f1f1; }

.vipzcnr .title{ font-size:16px; color:#878787; text-align:center; background:#f9f9f9; height:48px; line-height:48px; border-left:1px solid #f1f1f1; }

.vipzcnr1 .title{ border-left:none; }

.vipzcnr .title i{ color:#ff010b; }

.vipzcnr li{ width:419px; line-height:45px; color:#878787; font-size:14px; border-top:1px solid #f1f1f1; }

.vipzcnr li:last-child{ width:100%; }

.vipzcnr li .name{ float:left; width:140px; border-right:1px solid #f1f1f1; border-left:1px solid #f1f1f1; text-align:center; margin-right:25px; }

.wdlist{ margin-top:50px; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; }

.wdlist .title{ font-size:14px; color:#878787; padding:10px 0; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1; }

.wdlist .title select{ font-size:14px; color:#878787; text-align:center; width:178px; height: 33px; border:1px solid #f1f1f1; margin:0 5px; }

.wdlist .title select option{ text-align:center; }

.wdlistkuai{ border-collapse:collapse; width:100%; }

.wdlistkuai th{ color:#878787; font-size:14px; text-align:center; line-height:50px; border:1px solid #f1f1f1;}

.wdlistkuai td{ font-size:14px; text-align:center; color:#878787; line-height:50px; border:1px solid #f1f1f1; }

.wdlistkuai td a{ color:#878787; }

.wdlistkuai td a:hover{ color:#ff000a; }

.wdlistkuai td i{ color:#ff000a; }

.wdlistms{ color:#878787; font-size:14px; text-align:center; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1; padding:15px 0; }

.vipzcnr dl{ width:310px; margin:10px auto 0 auto; padding-bottom:30px; }

.vipzcnr dl dd{ width:310px; margin-top:23px; }

.vipzcnr dl dd .name{ width:112px; text-align:right; color:#878787; font-size:14px; line-height:30px; }

.vipzcnr dl dd .nr{ width:180px; height:30px; }

.vipzcnr dl dd .nr input{ width:160px; height:30px; border:1px solid #dedede; padding:0 10px; }

.vipzcnr dl dd:hover .nr input{ border:1px solid #e62129; width:160px; height:30px; }

.vipzcnr dl dd .anniu{ width:110px; height:30px; margin-left:112px; }

.vipzcnr dl dd .anniu input{ width:110px; height:30px; background:#e62129; color:#fff; font-size:14px; border:none; cursor:pointer; }

.zxdglist li{ width:237px; height:272px; overflow:hidden; margin:45px 31px  0 31px; }

.zxdglist li a{ display:block; height:270px; border:1px solid #ececec; }

.zxdglist li .tu{ height:188px; overflow:hidden; }

.zxdglist li .name{ font-size:14px; text-align:center; line-height:40px; color:#878787; }

.zxdglist li .more{ background:url(../bg/bg14.gif) no-repeat; height:42px; overflow:hidden; }

.wdlistdetail{ border:1px solid #f1f1f1; width:840px; margin:55px auto 0 auto; padding-bottom:20px; }

.wdlistdetail .title{ color:#878787; font-size:14px; padding:15px 0 0 6px; }

.wdlistdetail .title i{ color:#ff0000; }

.wdlistdetail .titleddzt{ font-size:14px; color:#ff0000; text-align:center; margin-top:10px; background: #f9f9f9; padding: 15px 0; }

.wddztlist{ width:720px; margin:50px auto 0 auto; background:url(../bg/xjbg2.gif) no-repeat center 21px; position:relative; }

.wddztlist .wdnr{ position:absolute; top:21px; left:0px; height:3px; background:#e62129; width:68px; }

.wddztlist li{ width:180px; font-size:14px; color:#878787; text-align:center; }

.wddztlist li .tu{ background:url(../bg/xjbg1.png) no-repeat center center; width:44px; height:44px; line-height:44px; text-align:center; color:#c6c6c6; font-size:18px; margin:0 auto; }

.wddztlist li.on .tu{ background:url(../bg/xjbg3.png) no-repeat center center; width:44px; height:44px; color:#fff; }

.wddztlist li.hover .tu{ background:url(../bg/xjbg3.png) no-repeat center center; width:44px; height:44px; color:#fff; }

.wddztlist li .name{ font-size:14px; color:#878787; text-align:center; padding-top:18px; }

.wddztlist li.on .name{ color:#ff0000; }

.wddztlist li.hover .name{ color:#ff0000; }

.wdkuai{ border-top:1px solid #f1f1f1; margin-top:30px; }

.wxtstitle{ padding:15px 0 0 10px; font-size:14px; color:#878787; }

.wxqsd{ font-size:14px; color:#ff0000; text-align:center; margin-top:15px; height:50px; line-height:50px; background:#f9f9f9; }

.wxxqlist{ border-collapse:collapse; width:100%;  }

.wxxqlist th{ border:1px solid #f1f1f1; line-height:48px; font-size:14px; color:#878787; font-weight:normal; }

.wxxqlist td{ border:1px solid #f1f1f1; line-height:48px; font-size:14px; color:#878787; text-align:center; }

.wxgwcsp{ text-align:center; color:#878787; font-size:14px; padding-top:15px; }

.dhrlist li{ width:840px; border-bottom:1px solid #f1f1f1; line-height:48px; }

.dhrlist li .name{ font-size:14px; color:#878787; width:140px; border-right:1px solid #f1f1f1; padding-left:25px; }

.dhrlist li .nr{ color:#878787; padding-left:50px; font-size:14px; }

.dklist{ padding-left:295px; margin-top:18px; }

.dklist li{ margin-left:15px; }

.dklist li a{ height:30px; display:block; padding: 0 10px; color:#323232; background:#dedede; line-height:30px; font-size:14px; }

.dklist li a:hover{ background:#e62129; color:#fff; }

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(../bg/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(../bg/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(../bg/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}

.fdm2{ background:url(../bg/cxj2.gif) repeat-x left 6px; }

.fdm3{ background:url(../bg/cxj3.png) no-repeat center bottom; padding-bottom:20px; }

.fdm4{ background:url(../bg/cxj4.jpg) no-repeat center top; height:730px; overflow:hidden; margin-top:60px; }

.fdm5{ background:url(../bg/cxj2.gif) repeat-x left 6px; }

.product_quandan{ margin-top:15px; overflow:hidden; _height:1px; _overflow:visible; }

.product_quandan li{ float:left; margin:10px 12px 0 12px; }

.product_quandan li a{ height:30px; line-height:30px; display:block; text-align:center; padding:0 15px; border:1px solid #f1f1f1; color:#9b9b9b; font-size:14px; }

.product_quandan li a:hover{ background:#e6212b; color:#fff; }

.product_quandan li a.on{ background:#e6212b; color:#fff; }