@charset "utf-8";

.clear{ overflow:hidden; _height:1px; _overflow:visible; }

.clean{ font-size:0px; line-height:0px; clear:both;}

.none{ display:none;}

body{ font-size:14px; max-width:750px; }

*{ margin:0; padding:0; -webkit-text-size-adjust:none;}

a{ text-decoration:none; outline:none; cursor:pointer;}

a:hover,img{ border:none;}

button,input,select,textarea{ font:12px Verdana, Geneva, sans-serif;}
 
textarea{ resize:none}

h1,h2,h3,h4,h5,h6{ font-weight:normal;}

i{ font-style:normal;}

p{ text-align:justify; text-justify:inter-ideograph;}

ul,ol,dl{ list-style-type:none;}

.fl,.fr,.lifl li,.lifl dd{ float:left; display:inline; list-style:none;}

.fr{ float:right;}

.fmyh,h2.t,ul.mf input.t,ul.mf li,input,textarea{ font-family:MicrosoftYaHei,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }

.ttuc{ text-transform:uppercase;}

.szm{ text-transform:capitalize; }

.mod{ position:relative;  } 

.scroll,.scroll2{ position:relative; overflow:hidden;}

.scroll ul{ position:absolute; width:20000em; }

.scroll2 ul{ position:absolute; height:200em; }

.scroll ul li{ float:left; }	

/*滚动条样式*/
.scrollbar-none::-webkit-scrollbar { width: 0px;height: 0; }

.wrap{ overflow:hidden; margin:0 auto; }

.header{ height:100px; position:relative; z-index:9999999999999999999; background:#2bb889; }

.logo a{ background:url(../bg/logo.png) no-repeat; width:419px; height:30px; display:block; position:absolute; top:35px; left:160px; }

.mininav{ position:absolute; top:23px; right:30px; }

.mininav .mititle{ background:url(../bg/fnav.png) no-repeat; width:71px; height:56px; overflow:hidden; cursor:pointer; float:right; }

.mititle.on{ background-position: right top; }

.mininavlist{ position:absolute; top:77px; right:-30px; width:728px; border:1px solid #efefef; padding:10px 10px 35px 10px; background:#fff; display:none; }

.mininavlist li{ width:728px; border-bottom:1px solid #f1f1f1; }

.mininavlist li .name{ height:88px; line-height:88px; font-size:30px; }

.mininavlist li .name a{ color:#333333; display:block; background:url(../bg/dd1.gif) no-repeat 655px center; padding-left:30px; }

.mininavlist li.on .name a{ color:#ff7e00; }

.mininavlist li .m01 a{ background:url(../bg/dd2.gif) no-repeat 650px center; }

.mininavlist li.on .m01 a{ background:url(../bg/dd3.gif) no-repeat 650px center; color:#ff7e00; }

.mininavlist li .name a:hover{ color:#ff7e00; }

.mininavlist li dl{ padding-bottom:20px; display:none;  }

.mininavlist li dd a{ color:#666666; font-size:24px; display:block; float:left; line-height:43px; margin: 0 40px 0 30px; }

.mininavlist li dd a:hover{ color:#ff7e00; }

.mininavlist li.on dl{ display:block; }

.banner { width:100%; height:299px; overflow:hidden; position:relative; z-index:1; }

.slider {margin:0 auto; overflow:hidden;}

.banner img{ float:left; width:750px; height:299px; }

.menu{ margin-top:50px; }

.menu li{ width:25%; }

.menu li a{ display:block; }

.menu li .tu{ width:81px; height:81px; overflow:hidden; margin:0 auto; }

.menu li .name{ text-align:center; width:100%; font-size:23px; line-height:50px; color:#838383; }

.news{ margin-top:40px; }

.news .bt{ height:60px; padding-left:75px; overflow:hidden; background:url(../bg/bg2.gif) no-repeat 38px center #f6f5fa; font-size:23px; line-height:60px; color:#838383; border-top:1px solid #e5e4e4; border-bottom:1px solid #e5e4e4; }

.news li{ width:750px; height:205px; border-bottom:1px solid #e5e4e4; }

.news li a{ height:180px; display:block; overflow:hidden; padding:25px 30px 0 30px; width:690px; }

.news li a:active{ background:#dbf3eb; }

.news li .tu{ width:152px; height:151px; border:1px solid #bdbdbd; overflow:hidden; }

.news li .tu img{ width:100%; height:100%; }

.news li .name{ margin-left:182px; color:#626262; font-size:23px; padding-top:10px; }

.news li a:active .name{ color:#11976a; }

.news li .nr{ margin-left:182px; color:#a1a1a1; font-size:20px; line-height:26px; margin-top:15px; }

.news li .time{ margin-left:182px; color:#626262; font-size:20px; margin-top:10px; }

.news li .time span{ color:#2bb889; font-family:Arial, Helvetica, sans-serif; }

.stop{ position:fixed; bottom:120px; right:20px; cursor:pointer; }

.footer{ width:690px; height:95px; background:#2bb889; overflow:hidden; position:fixed; bottom:20px; left:30px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

.footer .f01{ width:33.3333%; }

.footer .f01 a{ height:80px; display:block; padding-top:15px; }

.footer .f01 a .tu{ height:38px; text-align:center; background:url(../bg/fbg1.png) no-repeat center top; }

.footer .f01 a .name{ text-align:center; color:#fff; font-size:20px; line-height:40px; }

.footer .f02{ width:33.3333%; }

.footer .f02 a{ height:80px; display:block; padding-top:15px; }

.footer .f02 a .tu{ height:38px; text-align:center; background:url(../bg/fbg2.png) no-repeat center top; }

.footer .f02 a .name{ text-align:center; color:#fff; font-size:20px; line-height:40px; }

.footer .f03{ width:33.3333%; }

.footer .f03 a{ height:80px; display:block; padding-top:15px; }

.footer .f03 a .tu{ height:38px; text-align:center; background:url(../bg/fbg3.png) no-repeat center top; }

.footer .f03 a .name{ text-align:center; color:#fff; font-size:20px; line-height:40px; }

.fbottom{ height:135px; overflow:hidden; }

.membertitle{ height:100px; background:#2bb889; font-size:32px; color:#fff; text-align:center; line-height:100px; position:relative; }

.membertitle .fh a{ background:url(../bg/fhbg.png) no-repeat; width:27px; height:45px; display:block; position:absolute; top:28px; left:20px; }

.memberlist{ background:#f6f5fa; }

.memberlist li{ width:750px; height:80px; background:url(../bg/nbg1.gif) no-repeat 21px 15px #fff; border-bottom:1px solid #e5e4e4; border-top:1px solid #e5e4e4; margin-top:30px; line-height:80px; }

.memberlist li.me2{ background:url(../bg/nbg2.gif) no-repeat 21px 15px #fff; }

.memberlist li.me3{ background:url(../bg/nbg3.gif) no-repeat 21px 15px #fff; }

.memberlist li.me4{ background:url(../bg/nbg4.gif) no-repeat 21px 15px #fff; }

.memberlist li .name{ width:200px; text-align:right; font-size:28px; color:#000; }

.memberlist li .nr{ width:500px; padding-left:50px; font-size:24px; color:#666; }

.memberlist li .nr input{ font-size:24px; color:#666; border:1px solid #cccccc; height:33px; width:440px; -webkit-appearance: none; outline: medium; padding-left:10px; }

.memberbottom{ width:750px; text-align:center; padding-bottom:30px; }

.memberbottom input{ background:url(../bg/nbg5.gif) no-repeat; width:157px; height:49px; border:none; cursor:pointer; outline:none; margin-top:60px; color:#fff; font-size:24px; }

.gwclist{ background:#f6f5fa; padding-top:30px; border-top:1px solid #e5e4e4; }

.gwclist li{ width:700px; height:100px; background:#fff; border-bottom:1px solid #e5e4e4; line-height:100px; padding-right:50px; }

.gwclist li:first-child{ border-top:1px solid #e5e4e4; }

.gwclist li .name{ width:260px; text-align:center; font-size:32px; color:#000; }

.gwclist li .nr{ width:150px; font-size:32px; color:#666; }

.gwclist li .nr span{ color:#ff0000; } 

.gwclist li .gwsl{ float:right; padding-top:20px; }

.gwclist li .gwsl .min{ border:none; background:none; font-size:44px; width:64px; height:60px; outline:none; float:left; }

.gwclist li .gwsl .text_box{ border:1px solid #cccccc; width:62px; height:58px; text-align:center; float:left; font-size:32px; }

.gwclist li .gwsl .add{ border:none; background:none; font-size:44px; width:64px; height:60px; outline:none; float:left; }

.gwchj{ text-align:center; font-size:32px; padding-top:45px; }

#total{ color:#ff0000; }

.gwcbottom{ width:750px; text-align:center; padding-bottom:30px; }

.gwcbottom input{ background:url(../bg/nbg5.gif) no-repeat; width:157px; height:49px; border:none; cursor:pointer; outline:none; margin-top:30px; color:#fff; font-size:24px; }

.spxqtitle{ position:fixed; top:0px; left:0px; height:80px; background:#2bb889; font-size:32px; color:#fff; padding:20px 0 0 22px; width:728px; z-index:9999999999; }

.spxqnrkuai{ background:#eef9f6; width:685px; height:40px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; padding:10px 0 10px 20px; }

.spxqnrkuai .name{ height:40px; width:600px; }

.spxqnrkuai .name input{ color:#838383; font-size:30px; height:38px; line-height:38px; border:1px solid #eef9f6; background:#eef9f6; width:598px; -webkit-appearance: none; outline: medium; }

.spxqnrkuai .nr{ width:28px; height:28px; margin-left:20px; }

.spxqnrkuai .nr input{ background:url(../bg/fdjbg.png) no-repeat; width:40px; height:40px; border:none; cursor:pointer; outline:none; }

.detail{ margin-top:100px;}

.detail .dtu{ height:379px; overflow:hidden; }

.detail .dtu img{ width:100%; height:100%; }

.detail .dtitle{ padding:; background:#fff; border-bottom:10px solid #e1e1e1; border-top:10px solid #e1e1e1; padding:20px; }

.detail .dtitle .name{ font-size:24px; color:#000000; }

.detail .dtitle .nr{ font-size:28px; color:#fb4135; }

.detail .sqxzkuai{ padding:20px 20px 0 20px; }

.detail .sqxzkuai .name{ height:60px; line-height:60px; font-size:24px; }
 
.detail .sqxzkuai .gwsl .min{ border:none; background:none; font-size:44px; width:64px; height:60px; outline:none; float:left; }

.detail .sqxzkuai .gwsl .text_box{ border:1px solid #cccccc; width:62px; height:58px; text-align:center; float:left; font-size:32px; }

.detail .sqxzkuai .gwsl .add{ border:none; background:none; font-size:44px; width:64px; height:60px; outline:none; float:left; }

.detail .sqxzkuai .jrgwc input{ height:60px; background:#2bb889; font-size:21px; color:#fff; border:none;  padding:8px; cursor:pointer; outline: medium; -webkit-appearance: none; }

.detail .sqdetail{ margin-top:40px; padding:0 20px; }

.detail .sqdetail .title{ border-bottom:1px solid #cccccc; }

.detail .sqdetail .title h3{ color:#000; float:left; border-bottom:4px solid #2bb889; padding: 0 20px 20px 20px; font-size:24px; }

.detail .sqdetail .cont{ color:#999; font-size:24px; line-height:36px; padding:25px; }

.cpkuai{ padding-bottom:100px; }

.cpkuai .cpside{ position:fixed; left:0px; top:100px; bottom:100px; width:180px; border-right:1px solid #dddddd; overflow-y: scroll; background:#fff; z-index:999; height:100%; }

.cpkuai .cpside li{ width:180px; height:88px; border-bottom:1px solid #dddddd; }

.cpkuai .cpside li .name{ width:180px; height:88px; line-height:88px; color:#6c6c6c; font-size:24px; cursor:pointer; text-align:center; }

.cpkuai .cpside li.active .name{ background:#2bb889; color:#fff; }

.j-content{ position:fixed; top:100px; left:181px; width:509px; height:100%; background:url(../bg/bg3.png) repeat; border-top:1px solid #dddddd; padding:30px; z-index:9999999999; display:none; }

.j-content dd{ margin-right:20px; }

.j-content dd a{ line-height:68px; color:#ffea00; font-size:30px; background:url(../bg/line.gif) no-repeat right center; padding-right:20px; }

.cpkuai .cpside ul{ border-top:1px solid #dddddd; }

.cpkuai .cpmain{ width:550px; position:inherit; bottom:0px; right:0px; margin:100px 0 0 200px; }

.cplist li{ width:550px; height:205px; border-bottom:1px solid #e5e4e4; margin-top:10px; position:relative; }

.cplist li a{ height:180px; display:block; overflow:hidden; width:530px; padding:25px 10px 0 10px;  }

.cplist li a:active{ background:#dbf3eb; }

.cplist li .tu{ width:152px; height:151px; border:1px solid #bdbdbd; overflow:hidden; }

.cplist li .tu img{ width:100%; height:100%; }

.cplist li .name{ margin-left:175px; color:#626262; font-size:23px; }

.cplist li a:active .name{ color:#11976a; }

.cplist li .nr{ margin-left:175px; color:#a1a1a1; font-size:20px; line-height:26px; margin-top:5px; }

.cplist li .time{ margin-left:175px; color:#626262; font-size:20px; margin-top:5px; }

.cplist li .time span{ color:#2bb889; font-family:Arial, Helvetica, sans-serif; }

.cplist li .sla{ position:absolute; top:150px; right:0px; }

.cplist li .sla .name{  font-size:20px; line-height:40px; }
 
.cplist li .sla .gwsl .min{ border:none; background:none; font-size:34px; width:64px; height:40px; outline:none; float:left; }

.cplist li .sla .gwsl .text_box{ border:1px solid #cccccc; width:52px; height:38px; text-align:center; float:left; font-size:28px; }

.cplist li .sla .gwsl .add{ border:none; background:none; font-size:34px; width:64px; height:40px; outline:none; float:left; }

.cpanniu{ position:fixed; bottom:0px; left:0px; height:100px; border-top:1px solid #dddddd; background:#fff; z-index:9999999999; width:710px; line-height:100px; color:#545454; font-size:24px; padding:0 20px; }

.cpanniu i{ color:#ff0000; }

.cpanniu .anniu input{ font-size:28px; color:#fff; background:#2bb889; border:none; padding:6px 10px; cursor:pointer; outline: medium; -webkit-appearance: none; }

.shopping{ background:url(../bg/shbg.gif) no-repeat center bottom; height:405px; }

.evaanniu{ text-align:center; margin-top:80px; padding-bottom:30px; }

.evaanniu input{ width:242px; background:#2bb889; height:60px; padding:0px; line-height:60px; color:#fff; -webkit-appearance: none; outline: medium; cursor:pointer; border-radius:5px; border:none; cursor:pointer; font-size:24px; }

.odlist li{ width:750px; background:#fff; margin-top:12px; }

.odlist li .evaxont{ padding:25px 20px; border-bottom:2px solid #eee; position:relative; }

.evaxont .tu{ width:125px; height:125px; overflow:hidden; border:1px solid #f2f2f2; overflow:hidden; }

.evaxont .name{ margin-left:145px; font-size:24px; color:#333; }

.evaxont .sla{ margin-left:145px; font-size:22px; color:#999; margin-top:12px; }

.evaxont .jya{ margin-left:145px; font-size:22px; color:#f74f45; margin-top:23px; }

.evaxont .jya span{ color:#999; }

.about{ color:#999; font-size:24px; line-height:36px; padding:25px; }